/* RESOURCES STYLING */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
html, body {
	font-family: "Helvetica", sans-serif;
	background-color: rgba(48,95,124,1);
	margin: 0px;
	overflow-x: hidden;
	padding: 0px;
}
body {
	max-width: 110em;
	padding: 0px 73.33px 0.1em;
	margin: 0px auto;
}
@media screen and (prefers-reduced-motion: reduce) {
html {
	scroll-behavior: auto;
}
}
* {
	box-sizing: border-box;
}
#Main {
	background-color: rgba(48,95,124,1);
	color: rgb(54, 53, 55);
	padding-left: 20%;
	padding-right: 20%;
	margin: 0px;
	font-size: 15px;
}
#Header {
    padding: 3.2em 0px 3em;
    margin: 0px auto;
    flex-direction: row;
}
#Title {
	padding-left: 4%;
}
#Title img {
	display: flex;
	flex-direction: column;
    padding-top: 0%;
	width: 200px;
	height: auto;
}
p {
	color: white;
	font-size: 10pt;
	line-height: 30px;
	padding-right: 54%;
}
h1 {
	display: flex;
	color: white;
	font-family: "Helvetica";
	font-size: 21pt;
    letter-spacing: 1.4px;
}
Aside {
	margin-top: 2%;
	padding-right: 29%;
	text-align: left;
    font-size: 12pt;
	line-height: 24px;
	color: white;
	letter-spacing: 0.2px;
}
#About p{
	color: rgb(54, 53, 55);
	font-size: 16px;
	padding-left: 10%;
	width: 100%;
}
ul {
	color: rgb(54, 53, 55);
	font-size: 16px;
	padding-right: 12%;
	padding-left: 0%;
	margin-bottom: 4%;
	list-style-type: disc;
	list-style-position: outside;
	width: 100%;
}
li {
	line-height: 26px;
	font-size: 10pt;
	letter-spacing: 0.4px;
}

/* FOOTER */
#Footer {
	background-color: rgba(38,38,38,1);
	width: 100%;
	color: white;
	height: auto;
	line-height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#Footer ul {
    color: #ffffff;
    list-style-type: none;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 20px;
	padding-top: 1.4%;
	padding-bottom: 1.5%;
	padding-left: 6.5%;
	width: 84%;
}
#Footer li {
    background-color: rgba(38,38,38,1);
    width: 84%;
    font-size: 10pt;
    list-style-type: none;
    color: white;
    height: auto;
    letter-spacing: 0.4px;
    line-height: 26px;
    padding-bottom: 0px;
}
#Footer .fa {
    padding: 24px;
    font-size: 24px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
}
a:link {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}
.fa:link {
	color: white;
	text-decoration: none;
}
.fa:hover {
	opacity: 0.7;
}
a:visited {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}
a:active {
	color: #ffffff;
	text-decoration: none;
	background-color: transparent;
}
#main--container {
	flex-direction: row;
	padding-top: 0.6%;
	padding-bottom: 3%;
	bottom: 0;
	background-color: white;
}
#raw-download a:link {
font-size: 14pt;
}
#main--container p {
	color: rgb(54, 53, 55);
	padding-right: 50%;
	letter-spacing: 0.4px;
}
#main--container a:link {
	color: #005aaa;
    cursor: pointer;
}
#main--container a:visited {
	color: #005aaa;
	text-decoration: none;
	background-color: transparent;
}
#main--container a:hover {
	color: #005aaa;
	text-decoration: underline;
    opacity: 0.7;
	background-color: transparent;
}
#index a:hover {
	text-decoration: none;
	background-color: transparent;
}
#main--container a:active {
	color: #005aaa;
	text-decoration: none;
	background-color: transparent;
}
#data-downloads {
    font-size: 11pt;
}
#data-downloads ul {
	padding-right: 0%;
}
#explanations {
	padding-left: 6%;
	padding-right: 30%;
}
#explanations p {
	padding-right: 10%;
	font-size: 10pt;
	color: rgb(38,38,38);
	line-height: 26px;
}
h2 {
	color:rgb(54, 53, 55);
	font-size: 16pt;
	margin-left: -25.4px;
}
#lawyers{
	padding-top: 20px;
	padding-bottom: 10px;
}
#bail-funds {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 2px rgba(210, 215, 217, 0.75);
}
#take-action {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 2px rgba(210, 215, 217, 0.75);
}
#contact-officials {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 2px rgba(210, 215, 217, 0.75);
}
#data-downloads {
    padding-top: 10px;
	padding-bottom: 10px;
	border-top: solid 2px rgba(210, 215, 217, 0.75);
}
/* NAV BAR */
.topnav {
	overflow: hidden;
	width: 100%;
	flex-direction: row;
	border-bottom: 4px solid white;
	padding: 54px 0px 14px;
}
.topnav img {
	margin-bottom: -24px;
	display: flex;
	width: 14%;
	height: auto;
}
.topnav a {
	float: right;
	display: block;
	text-align: center;
	padding-right: 16px;
	font-size: 17px;
	color: white;
	font-family: "Helvetica", serif;
	border-bottom: 0px;
}
.topnav a:hover {
	color: black;
}
.topnav .icon {
	display: none;
}

/* MEDIA QUERIES */
@media (max-width: 550px) { 
	#Header {
		padding: 1em 0px 2em;
		margin: 0px auto;
		flex-direction: row;
	}
	#main--container {
		flex-direction: row;
		padding-top: 2%;
		padding-bottom: 2.2%;
		background-color: white;
	}
	Body {
		padding: 0;
	}
    .topnav {
		overflow: hidden;
		width: 97%;
		flex-direction: row;
		border-bottom: 2px solid white;
		padding: 0.4em 4px 1em;
		margin-left: 5px;
	}
	.topnav.responsive img {
		position: relative;
		margin-top: -4%;
		padding-bottom: 9%;
		padding-left: 0px;
	}
	.topnav.responsive a {
		position: relative;
		padding-top: 3%;
		padding-left: 10px;
		font-size: 1em;
	}
	.topnav img {
		margin-bottom: -34px;
		padding-left: 8px;
		display: flex;
		width: 48%;
		height: auto;
	}
	#index {
		flex-wrap: wrap;
		position: relative;
		align-content: left;
		padding-top: 2%;
		padding-left: 10%;
		padding-bottom: 3px;
	}
	Aside {
		margin-top: 2%;
		margin-bottom: 0%;
		padding-right: 7%;
		text-align: left;
		font-size: 9pt;
		line-height: 22px;
		color: white;
		letter-spacing: 0.2px;
	}
	#Title img {
		width:  145px;
	}
	li {
		line-height: 25px;
		margin-left: 0px;
		font-size: 10pt;
		letter-spacing: 0.2px;
		padding-right: 6%;
	}
	ul {
		color: rgb(54, 53, 55);
		line-height: 28px;
		padding-left: 4%;
		padding-right: 0%;
	}
	h2 {
		font-size: 13pt;
		margin-left: 0px;
	}
	#scenario-list p {
		line-height: 24px;
		font-size: 11pt;
		padding-right: 20%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		border-bottom: rgb(54, 53, 55) 1px solid;
	}
	#explanations {
		max-width: 1400px;
		flex-direction: column;
		margin: 0px auto;
		text-align: left;
		padding: 0em 1em 1em;
	}
	#explanations p {
		padding-right: 0%;
		padding-top: 0%;
		font-size: 9pt;
		color: black;
		line-height: 22px;
	}
    #lawyers{
        padding-top: 4px;
    }
    #bail-funds {
        padding-top: 4px;
    }
    #take-action {
        padding-top: 4px;
    }
    #contact-officials {
        padding-top: 4px;
    }
    #data-downloads {
        padding-top: 4px;
    }
	#About p {
		line-height: 30px;
		padding-left: 10%;
		width: 100%;
	}
	#Footer li {
		background-color: rgba(38,38,38,1);
		width: 84%;
		font-size: 10pt;
		list-style-type: none;
		color: white;
		height: auto;
		letter-spacing: 0.4px;
		line-height: 32px;
		padding-bottom: 0px;
	}
	#Footer .fa {
		padding: 20px;
		font-size: 20px;
		width: 10px;
		text-align: center;
		border-radius: 50%;
	}
	#Footer ul {
		padding-top: 2%;
		padding-bottom: 1.5%;
		width: 74%;
	}
	#Title {
		align-content: center;
		padding-left: 4%;
		padding-right: 0%;
		width: 100%;
	}
	h1 {
		display: flex;
		color: white;
		font-family: "Helvetica";
		font-size: 22px;
		margin-bottom: 26px;
	}
}
@media (min-width: 551px) {
	#Main {
		width: 70%;
		margin: 0 auto 0 auto;
		padding-top: 0px;
		padding-left: 40px;
		padding-right: 45px;
		padding-bottom: 0px;
	}   
	}
@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	float: right;
	display: block;
	}
}
@media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
	}
	.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
	}
}