/* PUT YOUR STYLES HERE */

/* This will constrain the display area
to mimic a phone */
#container {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 4px black solid;
    overflow-y: scroll;
}
#Cop_Track_Landing {
	position: absolute;
	width: 360px;
	height: 2075px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Cop Track Landing;
	--web-view-id: Cop_Track_Landing;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Key-background {
	fill: rgba(255,255,255,1);
}
.Key-background {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 2075px;
	left: 0px;
	top: 0px;
}
#Rights-and-resources-box {
	fill: rgba(48,95,124,1);
}
.Rights-and-resources-box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 653px;
	left: 0px;
	top: 1284.5px;
}
#Footer {
	position: absolute;
	width: 360px;
	height: 184px;
	left: 0px;
	top: 1891.15px;
	overflow: visible;
}
#Footer-box {
	fill: rgba(38,38,38,1);
}
.Footer-box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 184px;
	left: 0px;
	top: 0px;
}
#Footer-text {
	left: 20px;
	top: 51.5px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 112px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Line_34 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 0.6000000238418579px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 320.6px;
	height: 0.6px;
	left: 20px;
	top: 163px;
	transform: matrix(1,0,0,1,0,0);
}
#Social-Icons {
	position: absolute;
	width: 63.704px;
	height: 17px;
	left: 20px;
	top: 1911.743px;
	overflow: visible;
}
#Facebook-Icon {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 46.704px;
	top: 0px;
	overflow: visible;
}
#back-68 {
	fill: rgba(255,255,255,1);
}
.back-68 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#Facebook-8 {
	fill: rgba(38,38,38,1);
}
.Facebook-8 {
	overflow: visible;
	position: absolute;
	width: 9.338px;
	height: 9.341px;
	left: 3.83px;
	top: 3.83px;
	transform: matrix(1,0,0,1,0,0);
}
#Instagram-Icon {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 23.352px;
	top: 0px;
	overflow: visible;
}
#back-65 {
	fill: rgba(255,255,255,1);
}
.back-65 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#Path_10 {
	fill: rgba(38,38,38,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 9.597px;
	height: 9.579px;
	left: 3.71px;
	top: 3.71px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(38,38,38,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 4.86px;
	height: 4.859px;
	left: 6.07px;
	top: 6.07px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_3 {
	fill: rgba(38,38,38,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 1.137px;
	height: 1.137px;
	left: 10.472px;
	top: 5.39px;
}
#Twitter-Icon {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#back-57 {
	fill: rgba(255,255,255,1);
}
.back-57 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#Twitter-8 {
	fill: rgba(38,38,38,1);
}
.Twitter-8 {
	overflow: visible;
	position: absolute;
	width: 9.569px;
	height: 7.691px;
	left: 3.712px;
	top: 4.654px;
	transform: matrix(1,0,0,1,0,0);
}
#YOUR-RIGHTS {
	position: absolute;
	width: 309px;
	height: 234px;
	left: 39px;
	top: 1609.575px;
	overflow: visible;
}
#Youve_been_stopped_by_an_offic {
	left: 0px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 14px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#An_officer_pulls_you_over {
	left: 0px;
	top: 114px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 14px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Youre_recording_an_officer {
	left: 0px;
	top: 167px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 14px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#An_officer_has_arrested_you {
	left: 0px;
	top: 220px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 14px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Path_12 {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 141.2px;
	height: 1.2px;
	left: 71px;
	top: 22px;
	transform: matrix(1,0,0,1,0,0);
}
#Your_Rights_Header {
	left: 78.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#RESOURCES {
	position: absolute;
	width: 205.5px;
	height: 272.5px;
	left: 39px;
	top: 1312.925px;
	overflow: visible;
}
#Download_statistics_and_infogr {
	left: 0px;
	top: 238.5px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 34px;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.22px;
}
#Bpdnewscom {
	left: 0px;
	top: 190px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 14px;
	line-height: 18px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Lawyers {
	left: 0px;
	top: 141.5px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 14px;
	line-height: 18px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Black_Lives_Matter {
	left: 0px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 14px;
	line-height: 18px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Bail_Funds {
	left: 0px;
	top: 56.5px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 14px;
	line-height: 18px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Line_32 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 130.2px;
	height: 1.2px;
	left: 76.5px;
	top: 22px;
	transform: matrix(1,0,0,1,0,0);
}
#Resources_Head {
	left: 84px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#TERMINOLOGY {
	position: absolute;
	width: 360px;
	height: 395.925px;
	left: 0px;
	top: 888px;
	overflow: visible;
}
#Terminology-background {
	fill: rgba(255,255,255,1);
}
.Terminology-background {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 395.925px;
	left: 0px;
	top: 0px;
}
#Finding_Unfounded {
	left: 38.5px;
	top: 324.297px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Finding_Exonerated {
	left: 38.5px;
	top: 288.635px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Finding_Not_Sustained {
	left: 38.5px;
	top: 252.973px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Finding_Sustained {
	left: 38.5px;
	top: 217.311px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Conduct_Unbecoming {
	left: 38.5px;
	top: 181.648px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Use_of_Force {
	left: 38.5px;
	top: 145.986px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Respectful_Treatment {
	left: 38.5px;
	top: 110.324px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Neglect_of_Duty_Unreasonable_J {
	left: 38.5px;
	top: 74.662px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Terminology_Header {
	left: 113.5px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(33,33,33,1);
}
#See_all_ {
	left: 236.5px;
	top: 356.5px;
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 11px;
	line-height: 20px;
	margin-top: -4.5px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(92,156,195,1);
	letter-spacing: 0.2px;
	text-decoration: underline;
}
#Line_31 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_31 {
	overflow: visible;
	position: absolute;
	width: 145.2px;
	height: 1.2px;
	left: 108px;
	top: 49px;
	transform: matrix(1,0,0,1,0,0);
}
#ABOUT {
	position: absolute;
	width: 360px;
	height: 200px;
	left: 0.5px;
	top: 688px;
	overflow: visible;
}
#About_Box {
	fill: rgba(255,255,255,1);
}
.About_Box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#About_Text {
	left: 107px;
	top: 89.5px;
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 73px;
	line-height: 16px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,0.702);
	letter-spacing: 0.2px;
}
#Path_13 {
	fill: rgba(0,0,0,0);
	stroke: rgba(0,0,0,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 91.2px;
	height: 1.2px;
	left: 134.5px;
	top: 59px;
	transform: matrix(1,0,0,1,0,0);
}
#badge-black {
	position: absolute;
	width: 107px;
	height: 89px;
	left: 0px;
	top: 81.5px;
	overflow: visible;
}
#About_Header {
	left: 149px;
	top: 36.5px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.902);
}
#scroll-top {
	position: absolute;
	width: 15.67px;
	height: 15.67px;
	left: 326px;
	top: 430px;
	overflow: visible;
	z-index: 97 !important;
}
#scroll-to-top {
	position: absolute;
	width: 15.669px;
	height: 15.669px;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: 97 !important;
}
#fixed-layer {
	position: fixed;
}
#Ellipse_4 {
	fill: rgba(28,28,28,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 15.6px;
	height: 15.6px;
	left: 0px;
	top: 0px;
}
#Line_35 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_35 {
	overflow: visible;
	position: absolute;
	width: 4.13px;
	height: 4.13px;
	left: 3.665px;
	top: 4.718px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_36 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_36 {
	overflow: visible;
	position: absolute;
	width: 4.13px;
	height: 4.13px;
	left: 7.834px;
	top: 4.718px;
	transform: matrix(1,0,0,1,0,0);
}
#Blue_Background {
	position: absolute;
	width: 360px;
	height: 614.745px;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: 98 !important;
}
#Blue-background-two {
	fill: rgba(48,95,124,1);
}
.Blue-background-two {
	overflow: visible;
	position: absolute;
	width: 360px;
	height: 143.433px;
	left: 0px;
	top: 471.312px;
	transform: matrix(1,0,0,1,0,0);
	z-index: 98 !important;
}
#Blue-background-one {
	fill: rgba(48,95,124,1);
}
.Blue-background-one {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 486px;
	left: 0px;
	top: 0px;
	z-index: 98 !important;
}
#COP_HAT {
	position: absolute;
	width: 255.025px;
	height: 255.025px;
	left: 52.488px;
	top: 479.352px;
	overflow: visible;
	z-index: 99 !important;
}
#Cop-Hat-Png {
	position: absolute;
	width: 255.025px;
	height: 255.025px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Search_Section {
	position: absolute;
	width: 330.5px;
	height: 336.852px;
	left: 15px;
	top: 119.5px;
	overflow: visible;
	z-index: 99 !important;
}
#form {
	position: absolute;
	width: 330.5px;
	height: 336.852px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Subtitle {
	left: 12px;
	top: 275.852px;
	position: absolute;
	overflow: visible;
	width: 307px;
	height: 61px;
	line-height: 16px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,0.902);
	letter-spacing: 0.2px;
}
#Search-Button {
	fill: rgba(38,38,38,1);
}
.Search-Button {
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 51.095px;
	left: 5px;
	top: 203.019px;
}
#Search-Button-Text {
	left: 134px;
	top: 220.567px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,0.902);
}
a:link {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
a:visited {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
a:active {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
#Search-Box {
	fill: rgba(255,255,255,1);
	stroke: rgba(104,114,119,1);
	stroke-width: 0.75px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Search-Box {
	position: absolute;
	overflow: visible;
	width: 326px;
	height: 48px;
	left: -2px;
	top: 141.602px;
}
#Box-Text {
	left: 19px;
	top: 163.155px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 13px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(104,114,119,1);
	letter-spacing: 0.26px;
}
#Subhead {
	left: 22px;
	top: 45.737px;
	position: absolute;
	overflow: visible;
	width: 287px;
	height: 66px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,0.902);
}
#Catchphrase {
	left: 0.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,0.902);
}
#Main_Title {
	position: absolute;
	width: 215.898px;
	height: 49px;
	left: 56.5px;
	top: 42.5px;
	overflow: visible;
	z-index: 99 !important;
}
#badge-white {
	position: absolute;
	width: 59px;
	height: 49px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boston_Cop_Track {
	left: 50.898px;
	top: 16.469px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Hamburger {
	position: absolute;
	width: 15px;
	height: 12px;
	left: 330.5px;
	top: 24.5px;
	overflow: visible;
	z-index: 99 !important;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Rectangle_32 {
	fill: rgba(255,255,255,1);
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 2px;
	left: 0px;
	top: 5px;
}
#Rectangle_33 {
	fill: rgba(255,255,255,1);
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 2px;
	left: 0px;
	top: 10px;
}
