html, body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}
#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    padding: 20px;
    background-color: snow;
}
article {
    font-family: Helvetica, Georgia, sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-left: 15%;
    padding-right: 15%;
}
p {
    font-family: Helvetica, Georgia, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
}
i {
    font-weight: bolder;
    font-size: 19px;
}
h1 {
    color: darkgreen;
    font-size: 38px;
    border-top: 2px solid black;
    padding-top: 18px;
    padding-bottom: 10px;
}
h2 {
    color: maroon;
    font-size: 30px;
    padding-bottom: 6px;
    padding-top: 6px;
}
a:link, a:visited {
    text-decoration: none;
    color: seagreen;
}
a:hover {
    text-decoration: underline;
    color: darkslategray;
}
ul {
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
#variablelist ul {
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-content: space-evenly;
    border-radius: 15px;
    border: 2px solid black;
}
#authorlist ul {
    line-height: 20px;
    font-size: 18px;
    align-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    flex-direction: row;
    list-style: none;
    border-radius: 15px;
    border: 2px solid black;
}
ul li::before {
    content: "";
    background-image: require('./pitchforklogo.png');
    background-size: contain;
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.2rem;
}
li {
    padding-bottom: 1%;
}
.visualization {
    border: 3px solid maroon;
    width: 90%;
}
.datavis {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
}
.datavis p {
    line-height: 30px;
    font-weight: lighter;
}
div {
    padding-bottom: 10px;
}
#conclude i{
    font-weight: normal;
    font-size: 18px;
}
.explanation img {
    width: 65%;
    border: 3px solid black;
}
#beginning .heading {
    color: black;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    width: 23%;
    font-size: 20px;
}
#beginning p {
    color: black;
    font-weight: lighter;
    width: 23%;
    align-self: flex-start;
}
#authorlist p {
    text-align: center;
}
#analyzedata img {
    border: 3px solid black;
}
#beginning {
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.heading {
    display: flex;
    flex-direction: row;
}
