/* PUT YOUR STYLES HERE */

/* This will constrain the display area
to mimic a phone */
#Cop_Track_Landing {
	position: absolute;
	width: 550px;
	top: 0px;
	left: 0px;
	height: 2120px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Cop Track Landing;
	--web-view-id: Cop_Track_Landing;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Blue_Background {
	position: absolute;
	width: 360.5px;
	height: 2120.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Key-background {
	fill: rgba(255,255,255,1);
}
.Key-background {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 2120px;
	left: 0.5px;
	top: 0.5px;
}
#Blue-background-two {
	fill: rgba(48,95,124,1);
}
.Blue-background-two {
	overflow: visible;
	position: absolute;
	width: 359.501px;
	height: 143.433px;
	left: 0px;
	top: 471.312px;
	transform: matrix(1,0,0,1,0,0);
}
#Blue-background-one {
	fill: rgba(48,95,124,1);
}
.Blue-background-one {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 486px;
	left: 0px;
	top: 0px;
}
#Footer {
	position: absolute;
	width: 360px;
	height: 183px;
	left: 0px;
	top: 1937px;
	overflow: visible;
}
#Footer-box {
	fill: rgba(68,68,68,1);
}
.Footer-box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 183px;
	left: 0px;
	top: 0px;
}
#Footer-text {
	left: 25px;
	top: 41px;
	position: absolute;
	overflow: visible;
	width: 301px;
	height: 114px;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.2px;
}
#Social-Icons {
	position: absolute;
	width: 76.214px;
	height: 23.772px;
	left: 24.849px;
	top: 467.593px;
	overflow: visible;
}
#Facebook-Icon {
	position: absolute;
	width: 23.269px;
	height: 23.772px;
	left: 52.945px;
	top: 0px;
	overflow: visible;
}
#back-68 {
	fill: rgba(38,38,38,1);
}
.back-68 {
	position: absolute;
	overflow: visible;
	width: 23.27px;
	height: 23.772px;
	left: 0px;
	top: 0px;
}
#Facebook-8 {
	fill: rgba(255,255,255,1);
}
.Facebook-8 {
	overflow: visible;
	position: absolute;
	width: 12.721px;
	height: 13.227px;
	left: 5.273px;
	top: 5.273px;
	transform: matrix(1,0,0,1,0,0);
}
#Instagram-Icon {
	position: absolute;
	width: 23.269px;
	height: 23.772px;
	left: 26.472px;
	top: 0px;
	overflow: visible;
}
#back-65 {
	fill: rgba(38,38,38,1);
}
.back-65 {
	position: absolute;
	overflow: visible;
	width: 23.27px;
	height: 23.772px;
	left: 0px;
	top: 0px;
}
#Path_10 {
	fill: rgba(255,255,255,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 13.077px;
	height: 13.555px;
	left: 5.108px;
	top: 5.108px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(255,255,255,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 6.691px;
	height: 6.69px;
	left: 8.289px;
	top: 8.541px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_3 {
	fill: rgba(255,255,255,1);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 1.566px;
	height: 1.566px;
	left: 14.329px;
	top: 7.546px;
}
#Twitter-Icon {
	position: absolute;
	width: 23.269px;
	height: 23.772px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#back-57 {
	fill: rgba(38,38,38,1);
}
.back-57 {
	position: absolute;
	overflow: visible;
	width: 23.27px;
	height: 23.772px;
	left: 0px;
	top: 0px;
}
#Twitter-8 {
	fill: rgba(255,255,255,1);
}
.Twitter-8 {
	overflow: visible;
	position: absolute;
	width: 13.039px;
	height: 10.589px;
	left: 5.111px;
	top: 6.591px;
	transform: matrix(1,0,0,1,0,0);
}
#YOUR_RIGHTS {
	position: absolute;
	width: 360px;
	height: 317px;
	left: 0px;
	top: 1620.5px;
	overflow: visible;
}
#Your_Rights_Box {
	fill: rgba(48,95,124,1);
}
.Your_Rights_Box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 317px;
	left: 0px;
	top: 0px;
}
#Rights-header {
	position: absolute;
	width: 118px;
	height: 17px;
	left: 120.5px;
	top: 23.425px;
	overflow: visible;
}
#Your_Rights_Header {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Youve_been_stopped_by_an_offic {
	left: 26px;
	top: 87px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 16px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#An_officer_pulls_you_over {
	left: 26px;
	top: 142px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 16px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Youre_recording_an_officer {
	left: 26px;
	top: 197px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 16px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#An_officer_has_arrested_you {
	left: 26px;
	top: 254px;
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 16px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#RESOURCES {
	position: absolute;
	width: 360px;
	height: 334.925px;
	left: 0px;
	top: 1285.575px;
	overflow: visible;
}
#Resources_Box {
	fill: rgba(255,255,255,1);
}
.Resources_Box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 334.925px;
	left: 0px;
	top: 0px;
}
#Resources-header {
	position: absolute;
	width: 114px;
	height: 18px;
	left: 122.5px;
	top: 34.425px;
	overflow: visible;
}
#Resources_Head {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(33,33,33,1);
}
#Bail_Funds {
	left: 38.5px;
	top: 92.925px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 16px;
	line-height: 18px;
	margin-top: -1px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,111,111,1);
	letter-spacing: 0.2px;
}
#Black_Lives_Matter {
	left: 38.5px;
	top: 129.425px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 16px;
	line-height: 18px;
	margin-top: -1px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,111,111,1);
	letter-spacing: 0.2px;
}
#Lawyers {
	left: 38.5px;
	top: 165.925px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 16px;
	line-height: 18px;
	margin-top: -1px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,111,111,1);
	letter-spacing: 0.2px;
}
#Bpdnewscom {
	left: 38.5px;
	top: 202.425px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 16px;
	line-height: 18px;
	margin-top: -1px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,111,111,1);
	letter-spacing: 0.2px;
}
#Download_statistics_and_infogr {
	left: 38.5px;
	top: 238.925px;
	position: absolute;
	overflow: visible;
	width: 199px;
	height: 36px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(111,111,111,1);
	letter-spacing: 0.22px;
}
#HISTORY-OF-THE-BPD {
	position: absolute;
	width: 360px;
	height: 421.925px;
	left: 0px;
	top: 888px;
	overflow: visible;
}
#History_Box {
	fill: rgba(255,255,255,1);
}
.History_Box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 421.925px;
	left: 0px;
	top: 0px;
}
#Recent_Moment {
	left: 73.5px;
	top: 334.809px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Third_Moment {
	left: 73.5px;
	top: 258.427px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#Second_moment {
	left: 73.5px;
	top: 182.044px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#First_moment {
	left: 73.5px;
	top: 105.662px;
	position: absolute;
	overflow: visible;
	width: 258px;
	height: 12px;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,0.8);
	letter-spacing: 0.2px;
}
#History-title {
	position: absolute;
	width: 192px;
	height: 18px;
	left: 84px;
	top: 38px;
	overflow: visible;
}
#History_Header {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(33,33,33,1);
}
#ABOUT {
	position: absolute;
	width: 360px;
	height: 200px;
	left: 0px;
	top: 688px;
	overflow: visible;
}
#About_Box {
	fill: rgba(255,255,255,1);
}
.About_Box {
	position: absolute;
	overflow: visible;
	width: 360px;
	height: 200px;
	left: 0px;
	top: 0px;
}
#About_Text {
	left: 108.5px;
	top: 89.5px;
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 73px;
	line-height: 16px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(0,0,0,0.702);
	letter-spacing: 0.2px;
}
#badge-black {
	position: absolute;
	width: 107px;
	height: 89px;
	left: 0.5px;
	top: 81.5px;
	overflow: visible;
}
#About-header {
	position: absolute;
	width: 62px;
	height: 18px;
	left: 149.5px;
	top: 36.5px;
	overflow: visible;
}
#About_Header {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,0.902);
}
#Section-Lines {
	position: absolute;
	width: 252px;
	height: 400.925px;
	left: 54px;
	top: 885px;
	overflow: visible;
}
#Path_19 {
	fill: rgba(0,0,0,0);
	stroke: rgba(150,150,150,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_19 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 1px;
	left: 252px;
	top: 400.925px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(239,239,239,1);
	stroke-width: 0.6000000238418579px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 248.002px;
	height: 1.6px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(234,234,234,1);
	stroke-width: 0.6000000238418579px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 248px;
	height: 0.6px;
	left: 2px;
	top: 400px;
	transform: matrix(1,0,0,1,0,0);
}
#COP_HAT {
	position: absolute;
	width: 255.025px;
	height: 255.025px;
	left: 52.488px;
	top: 479.352px;
	overflow: visible;
}
#Cop-Hat-Png {
	position: absolute;
	width: 255.025px;
	height: 255.025px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Search_Section {
	position: absolute;
	width: 330.5px;
	height: 336.852px;
	left: 15px;
	top: 119.5px;
	overflow: visible;
}
#Catchphrase {
	left: 0.5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -3px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(255,255,255,0.902);
}
#Subtitle {
	left: 12px;
	top: 275.852px;
	position: absolute;
	overflow: visible;
	width: 307px;
	height: 61px;
	line-height: 16px;
	margin-top: -2.5px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,0.902);
	letter-spacing: 0.2px;
}
#form {
	position: absolute;
	width: 330px;
	height: 208.377px;
	left: 0px;
	top: 45.737px;
	overflow: visible;
}
#Search-Button {
	fill: rgba(31,36,39,1);
}
.Search-Button {
	position: absolute;
	overflow: visible;
	width: 320px;
	height: 51.095px;
	left: 5px;
	top: 157.282px;
}
#Search-Button-Text {
	left: 134px;
	top: 174.829px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -4px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,0.902);
}
a:link {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
a:visited {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
a:active {
	color: rgba(255,255,255,0.902);
	text-decoration: none;
	background-color: transparent;
}
#Search-Box {
	fill: rgba(255,255,255,1);
	stroke: rgba(104,114,119,1);
	stroke-width: 0.75px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 14;
	shape-rendering: auto;
}
.Search-Box {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 47.4px;
	left: -4px;
	top: 95.865px;
}
#Box-Text {
	left: 19px;
	top: 117.417px;
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 13px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(104,114,119,1);
	letter-spacing: 0.26px;
}
#Subhead {
	left: 22px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 287px;
	height: 66px;
	line-height: 24px;
	margin-top: -3px;
	text-align: center;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,0.902);
}
#Main_Title {
	position: absolute;
	width: 216.898px;
	height: 49px;
	left: 58px;
	top: 42.5px;
	overflow: visible;
}
#badge-white {
	position: absolute;
	width: 59px;
	height: 49px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Boston_Cop_Track {
	left: 51.898px;
	top: 15.469px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#Line_6 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_6 {
	overflow: visible;
	position: absolute;
	width: 91.2px;
	height: 1.2px;
	left: 135px;
	top: 745px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_31 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_31 {
	overflow: visible;
	position: absolute;
	width: 208.2px;
	height: 1.2px;
	left: 78px;
	top: 948px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_32 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 130.2px;
	height: 1.2px;
	left: 116px;
	top: 1343px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_33 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1.2000000476837158px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_33 {
	overflow: visible;
	position: absolute;
	width: 130.2px;
	height: 1.2px;
	left: 116px;
	top: 1665px;
	transform: matrix(1,0,0,1,0,0);
}
#Hamburger {
	position: absolute;
	width: 15px;
	height: 13px;
	left: 327.5px;
	top: 15.5px;
	overflow: visible;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 1px;
	left: 0px;
	top: 0px;
}
#Rectangle_32 {
	fill: rgba(255,255,255,1);
}
.Rectangle_32 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 1px;
	left: 0px;
	top: 6px;
}
#Rectangle_33 {
	fill: rgba(255,255,255,1);
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 1px;
	left: 0px;
	top: 12px;
}
